.git
.github
.gitignore
.next
node_modules
npm-debug.log
pnpm-debug.log
*.tsbuildinfo
.env
.env.*
data
data/**
certbot
certbot/**
*.zip
*.sqlite
*.3sdb
*.db
*.bak
*.log
Dockerfile
docker-compose.yml
README.md
